# Ignore the virtual environment folder
venv/

# Ignore Python's cache folder
__pycache__/

# Ignore VSCode settings folder
.vscode/

# Ignore generated plot files (optional, but good practice)
plots/